#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#local History for Visual Studio code
.history/

#Common credential files
**/credentials.json
**/client_secrets.json
**/client_secret.json

# Dataset
Arima/D1_data.csv
Arima/H1_data.csv
Arima/sample.csv

GradientBoost/D_data.csv
GradientBoost/H_data.csv

KNN/D_data.csv
KNN/H_data.csv

LSTM/Daily_data.csv
LSTM/Hourly.csv

MLP/D_data.csv
MLP/H_data.csv

RNN/D_data.csv
RNN/H_data.csv

SVR/D_data.csv
SVR/H_data.csv

XGBoost/D_data.csv
XGBoost/H_data.csv


XGBoost/Boost.pdf